{# templates/event/filter.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Filtrer les événements{% endblock %}

{% block body %}
    <h1>Filtrer les événements</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Filtrer</button>
    {{ form_end(form) }}
{% endblock %}